body {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.chapter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}
#title {
    font-size: 60px;
}
h2 {
    font-size: 32px;
}
table {
    width: 360px;
    table-layout: fixed;
    border: 1px solid lightgray;
    padding: 8px;
}
th, td {
    min-width: 32px;
    text-align: left;
    padding: 0;
}
tr:nth-child(2n) {
    background-color: #eeeeee;
}

form {
    display: flex;
    flex-direction: column;
}
input[type=text] {
    margin-bottom: 16px;
}