<!DOCTYPE html> 
  
<html> 
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
        <title>Food App</title> 
    </head> 
    <body>
        <div class="chapter">
            <h1 id="title">Food App</h1>
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                
                <label for="item-name">Food Name:</label>
                <input type="text" name="item-name" required>

                <label for="item-price">Food Price ($):</label>
                <input type="text" name="item-price" required>

                <label for="item-quantity">Food Quanity:</label>
                <input type="text" name="item-quantity" required>
                <br>
                <div id="form-buttons">
                    <input type="submit" value="Submit" name="submit">
                </div>
            </form>

            <h2>Available Food items</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                {%for item in data%} 
                <tr>
                    <td>{{item['name']}}</td>
                    <td>${{item['price']}}</td>
                    <td>{{item['quantity']}}</td>
                </tr>
                {%endfor%}
            </table>
            <ul> 
            <!-- For loop logic of jinja template -->
            {%for item in data%} 
                <li>{{item['name']}}:   ${{item['price']}}:     {{item['quantity']}}</li> 
            {%endfor%} 
            
            </ul> 
        </div>
    </body> 
</html> 
